.photo-grid {
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    padding: 92px 48px;
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        padding: 88px 24px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        padding: 64px 16px;
    }
}
