.places__text {
    grid-area: text;
}

@media screen and (max-width: 1023px) {
    .places__text {
        /*max-width: calc(100% - 52px);
        padding-right: 24px;
        /*padding-left: 28px;*/
    }
}

@media screen and (max-width: 767px) {
    .places__text {
        /*max-width: calc(100% - 32px);
        padding: 0 16px;*/
    }
}
