.intro__list-item {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    margin: 0;
    text-align: left;
    max-width: 100%;
}

@media screen and (max-width: 1023px) {
    .intro__list-item {
        max-width: calc(100% - 24px);
    }
}

@media screen and (max-width: 767px) {
    .intro__list-item {
        max-width: calc(100% - 16px);
    }
}