.intro__text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0 0 33px;
    max-width: 100%;
    text-align: left;
}


/*@media screen and (max-width: 1023px) {
    .intro__text {
        max-width: calc(100% - 48px);
    }
}*/

@media screen and (max-width: 767px) {
    .intro__text {
        max-width: calc(100% - 32px);
        margin: 0 0 34px;
    }
}
