.intro {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    flex-wrap: wrap;
    padding-left: 148px;
}

@media screen and (max-width: 1184px) {
    .intro {
        padding-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        max-width: 720px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: 288px;
        padding-left: 16px;
    }
}
