.places__url-heading {
    font-size: 12px;
    line-height: 170%;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    color: #aaaaaa;
}

@media screen and (max-width: 1023px) {
    .places__url-heading {
        line-height: 12px;
    }
}