.intro__title {
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
    margin: 0 0 40px;
    max-width: 100%;
    text-align: left;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 262px;
    }
}
